.tgu-displayInlineBlock {
	display: inline-block;
}

.tgu-hCentered {
	margin-left: auto;
	margin-right: auto;
}

.tgu-hidden {
	display: none;
}

.tgu-positionAbsolute {
	position: absolute;
}

.tgu-positionFixed {
	position: fixed;
}

.tgu-topLeft {
	top: 0;
	left: 0;
}

.tgu-fullSize {
	height: 100%;
	width: 100%;
}

.tgu-almostFullSize {
	height: 94%;
	width: 94%;
}


.tg-Action-body {
	min-width: 300px;
	height: 1px;
	margin: 0;
}

.tg-Action {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 13pt;
	text-align: center;
	padding: .5em;
}

.tg-Action a {
}

.tg-Action h1 {
	text-align: center;
	font-size: 1em;
	font-weight: 400;
	margin: 0;
}

.tg-Action table {
	text-align: right;
	margin-bottom: 0.5em;
}

.tg-Link {
	text-decoration: underline;
	cursor: pointer;
}

.tg-Link--blue {
	color: #2fb4c4;
}

.tg-Link--orange {
	color: #ff7000;
}

.tg-Mask {
	background-color: rgba(0, 0, 0, 0.75);
}


.tg-Rating { }

.tg-Rating-inner {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: .75em;
	color: #666;
	border-bottom: 2px solid #9fdde0;
}

.tg-Rating span.tg-Rating-score {
	font-size: 2.5em;
	color: black;
}

.tg-Rating span.tg-Rating-tag {
	font-size: 1.5em;
	color: black;
}

.tg-Popup {
	top: 50%;
	left: 50%;
	background-color: white;
	font-size: 13pt;
	box-shadow: 5px 5px 5px #000;
}

.tg-Popup a {
	font-family: 'Merriweather Sans', sans-serif;
	margin: 0.5em;
}

.tg-Popup a.tg-Popup-backLink {
	color: #ff7000;
}

.tg-Popup a.tg-Popup-continueLink {
	color: #2fb4c4;
}

.tg-Popup p {
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	margin: 0.25em;
}

.tg-Popup-header {
	padding: 1em 0.5em 0.5em 0.5em;
	background-color: #9fdde0;
}

.tg-Popup-header h1 {
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	font-size: 2em;
	margin: 0;
	color: white;
}

.tg-Popup-header .tg-Popup-x {
	background-color: #fff;
	color: #ff7000;
	font-family: 'Varela Round', sans-serif;
	font-size: 1em;
	height: 13px;
	width: 13px;
	line-height: .7em;
	text-align: center;
	top: .25em;
	right: .25em;
	margin: 0;
	cursor: pointer;
}

.tg-Popup-header .tg-Popup-x:hover {
	text-decoration: none;
	color: #ff9000;
}

.tg-Popup-body {
	padding: 0.5em;
}

.tg-Popup-ratings {
}

.tg-Popup-links {
	padding: 1em 0 0.5em 0;
}

